{
  "pid": "project_20250919_1953",
  "language": "tw",
  "channel": "israle_zh",
  "images_description": "",
  "video_title": "Song of Songs",
  "program_keywords": "",
  "story_site": "the mountainous region north of Jerusalem",
  "current_positive_prompt": "",
  "current_negative_prompt": "low quality, distorted, overly cartoonish, text, watermark, deformed, ugly",
  "current_image_style": "",
  "wan_style": "Realistic Style",
  "wan_shot": "Wide-angle",
  "wan_angle": "Eye Level",
  "wan_color": "Warm",
  "video_width": "1280",
  "video_height": "720",
  "promo_scroll_duration": 7.0,
  "conversation_content": ""
}