{
  "pid": "project_20251001_2223",
  "language": "tw",
  "channel": "broadway_zh",
  "video_title": "Song of Songs",
  "program_keywords": "",
  "story_site": "the mountainous region north of Jerusalem",
  "video_width": "1920",
  "video_height": "1080",
  "promo_scroll_duration": 7.0,
  "conversation_content": ""
}